.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.table {
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.table td {
  padding: 0.5rem;
}
.table th {
  padding: 0.5rem;
}
.table tr:nth-child(even) {
  background-color: #f4f4f4;
}
